@import '~antd/dist/antd.css';

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-btn{
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.home__container{
    text-align: center;
}

.home__container > div{
    font-size: 20px;
}

.home__container > .showcases{
    cursor: pointer;
}

.home__container > .showcases img{
    width: 30vw;
}

.answer__container .answer-item{
    margin-bottom: 15px;
}

.answer__container{
    text-align: center;
    font-size: 20px;
}

.answer__container .question{
    font-size: 22px;
}

.answer__container input{
    margin-left: 15px;
}
.compete__container input{
    margin-left: 15px;
}

.compete__container{
    text-align: center;
    font-size: 20px;
}

.compete__container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.compete__container form{
    border: 1px solid #000;
    padding: 15px 0
}