.userProfile__container {
  margin-top: 68px;

  .userCover {
    background: linear-gradient(
        to right,
        rgba(50, 70, 80, 0.7),
        rgba(30, 20, 150, 0.7)
      ),
      url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80")
        no-repeat center center;
    height: 180px;
    border-radius: 0 0 60px 60px;
    position: relative;

    .userInfo {
      width: 90vw;
      position: absolute;
      left: 5vw;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;

      .walletInfo {
        display: flex;
        align-items: center;
        color: #fff;
        gap: 10px;

        .userImage {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
      }

      .gameInfo {
        display: flex;
        align-items: center;
        gap: 20px;

        div {
          background: #0006;
          color: #fff;
          text-align: center;
          padding: 15px 30px;
          border-radius: 16px;

          h2 {
            margin-bottom: 10px;
          }

          &:hover {
            background: #0009;
          }
        }
      }
    }
  }

  .main {
    margin: 30px 5vw;
    display: flex;
    align-items: flex-start;

    .dashboard {
      width: 15vw;
      box-shadow: 0 0 2px 0 rgb(145 158 171 / 24%),
        0 16px 32px -4px rgb(145 158 171 / 24%);
      border-radius: 16px;
      background: #fff;
      //   padding: 20px 0;

      nav{
        a{
          text-decoration: none;
        &.active{
          background: #a29bfe;
          color: #fff;
        }
        }

      }
      .MuiButton-root {
        padding: 12px 20px;
        text-transform: capitalize;
        font-size: 16px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 8px;
        width: 100%;
        
        &.active {
          background: #a29bfe;
          color: #fff;
        }
      }
    }

    .main__container {
      flex: 1;
      padding: 0 20px;
      height: 20vh;
      

      .balance__container {
        margin: 10px;
        display: flex;
        justify-content: space-around;
         height: 100%;
         padding: 20px ;
         background: #fff;
         align-items: center;
         border-radius: 15px;
         box-shadow: 0 0 2px 0 rgb(145 158 171 / 24%),
        0 16px 32px -4px rgb(145 158 171 / 24%);
         
        .coins{
          display: flex;
          gap: 18px;

        }

        .image {
          img {
            height: 90px;
            width: 90px;
          }
        }
        .amount {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .sixty9{
            font-size: 35px;
            font-weight: 600;
          }
        }
        .buttons{
          height: 100%;
          display: flex;
          gap: 7px;
          align-items: center; 
          button{
            color: #000;
          }
        }
      }
      .history__container{
        .statement{
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          // background: #c3c3c3;
          box-shadow: 0 0 2px 0 rgb(145 158 171 / 24%),
        0 16px 32px -4px rgb(145 158 171 / 24%);
          padding: 20px;
          border-radius: 15px;
          // border: 1px solid rgb(158, 148, 148);  
          align-items: center;
          p{
            color: #0009;
          }
          .left{
          
          button{
            background: red;
            border-radius: 18px;
            font-size: 13px;
            font-weight: 600;
            text-transform: capitalize;
            padding: 5px 10px;
            margin-bottom: 10px;
          }
          .incoming{
            background: rgb(138, 211, 29);
          }
        }
        .right{
          .balance{
            font-weight: 600;
            font-size: 18px;
            color: #000;
          }
        }
        
      }
      }
    }

    .messages {
      height: 60vh;
      width: 20vw;
      box-shadow: 0 0 2px 0 rgb(145 158 171 / 24%),
        0 16px 32px -4px rgb(145 158 171 / 24%);
      border-radius: 16px;
      background: #fff;
      padding: 20px;

      .searchUser {
        background: rgba(125, 125, 125, 0.067);
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px 15px;
        border-radius: 5px;
        margin-bottom: 20px;

        input {
          flex: 1;
          background: transparent;
          border: none;
          font-size: 16px;

          &:focus {
            outline: none;
            border: none;
          }
        }
      }
    }
  }
}
