.userProfile__container {
  margin-top: 68px;

  .userCover {
    background: linear-gradient(
        to right,
        rgba(50, 70, 80, 0.7),
        rgba(30, 20, 150, 0.7)
      ),
      url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80")
        no-repeat center center;
    height: 180px;
    border-radius: 0 0 60px 60px;
    position: relative;

    .userInfo {
      width: 90vw;
      position: absolute;
      left: 5vw;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;

      .walletInfo {
        display: flex;
        align-items: center;
        color: #fff;
        gap: 10px;

        .userImage {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
      }

      .gameInfo {
        display: flex;
        align-items: center;
        gap: 20px;

        div {
          background: #0006;
          color: #fff;
          text-align: center;
          padding: 15px 30px;
          border-radius: 16px;

          h2 {
            margin-bottom: 10px;
          }

          &:hover {
            background: #0009;
          }
        }
      }
    }
  }

  .main {
    margin: 30px 5vw;
    display: flex;
    align-items: flex-start;

    .dashboard {
      width: 15vw;
      box-shadow: 0 0 2px 0 rgb(145 158 171 / 24%),
        0 16px 32px -4px rgb(145 158 171 / 24%);
      border-radius: 16px;
      background: #fff;
      //   padding: 20px 0;

      .MuiButton-root {
        padding: 12px 20px;
        text-transform: capitalize;
        font-size: 16px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 8px;
        width: 100%;

        &.active {
          background: #a29bfe;
          color: #fff;
        }
      }
    }

    .main__container {
      flex: 1;
      padding: 0 20px;
    }

    .messages {
      height: 60vh;
      width: 20vw;
      box-shadow: 0 0 2px 0 rgb(145 158 171 / 24%),
        0 16px 32px -4px rgb(145 158 171 / 24%);
      border-radius: 16px;
      background: #fff;
      padding: 20px;

      .searchUser {
        // background: rgba(125, 125, 125, 0.067);
        background: transparent;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px 15px;
        border-radius: 5px;
        margin-bottom: 20px;

        .searchInput {
          display: flex;
          gap: 5px;
          input {
            flex: 1;
            background: transparent;
            border: none;
            font-size: 16px;

            &:focus {
              outline: none;
              border: none;
            }
          }
        }

        .middle {
          height: 100%;
          overflow: auto;
          flex: 1;

          .activeUsers {
            border-top: 1px solid #0001;
            padding: 10px 0;

            .user {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              padding: 8px 10px;
              margin-bottom: 5px;

              &:hover {
                background: rgba(146, 146, 146, 0.067);
                border-radius: 10px;
              }

              .userDetails {
                display: flex;
                align-items: center;
                gap: 15px;

                p {
                  padding: 10px 0;
                  font-weight: 600;
                  color: #0009;
                }

                .greenDot {
                  width: 15px;
                  height: 15px;
                  background-color: #2ed573;
                  border-radius: 50%;
                  position: absolute;
                  left: 25px;
                  border: 2px solid #fff;
                  bottom: 2px;
                  z-index: 1;
                }

                .image {
                  position: relative;

                  img {
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                  }
                }
              }

              .chatBtn {
                background: #e8f0ff;
                color: #000;
                font-size: 16px;
                min-width: 0;
                padding: 3px 8px;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
              }
            }
          }
          .chatBox {
            // .MuiBox-root {
            //   padding: 5px;

            //   .MuiTypography-root {
            //     display: flex;
            //     height: 71vh;
            //     flex-direction: column;
            //     justify-content: space-between;
            //   }

              .messageContainer {
                flex: 1;
                overflow-y: scroll;
                padding: 10px 5px;
                font-size: 14px;

                .awayMessage {
                  display: flex;
                  align-items: flex-end;
                  gap: 8px;
                  margin-bottom: 10px;

                  img {
                    width: 30px;
                    object-fit: cover;
                    height: 30px;
                  }

                  .message {
                    background: #0001;
                    padding: 10px;
                    border-radius: 15px 15px 15px 0;
                  }
                }

                .homeMessage {
                  margin-bottom: 10px;
                  display: flex;
                  justify-content: flex-end;
                  align-items: flex-end;
                  gap: 8px;

                  .message {
                    background: #7bed9f;
                    padding: 10px;
                    border-radius: 15px 15px 0 15px;
                  }

                  img {
                    width: 30px;
                    object-fit: cover;
                    height: 30px;
                  }
                }
              }

              .messageInput {
                border-top: 0.5px solid #0001;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 3px;

                input {
                  flex: 1;
                  border: none;
                  background: transparent;
                  font-size: 16px;

                  &:focus {
                    border: none;
                    outline: none;
                  }
                }

                .MuiButton-root {
                  background: #0001;
                  color: #000;
                  font-size: 18px;
                  min-width: 0;
                  padding: 5px 20px;
                }
              }
            }
          }
        // }
      }
    }
  }
}
